h1{
    color: gray;
}

.textarea{
    height: 30%;
    border: 1px solid crimson;
    overflow-y: scroll;
    white-space: pre-wrap;
}

.short{
    height: 2rem;
    border: 1px solid blueviolet;  
}

label{
    vertical-align: top;
}

iframe{
    width: 100%;
    height: 50%;
}

.keywords{
    /* color: red; */
    font-weight: bold;
}

#url, #query{
    width: 80%;
}

#doc{
    width: 80%;
    height: 3rem;
    overflow-y: scroll;
}